@import "compass_twitter_bootstrap";

.hide {
    margin-left: -3000px;
}

figure {
    height: 724px;
    width: 800px;
}

.canvas-map {
    position : absolute;
    top : 0;
    left : 0;
    width : 800px;
    height : 724px;
}
